html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0; 
  } 
/* remember to define focus styles! */ 
:focus { 
  outline: 0; 
  } 
body { 
  background: white; 
  line-height: 1; 
  color: black; 
  } 
ol, ul { 
  list-style: none; 
  } 
/* tables still need cellspacing="0" in the markup */ 
table { 
  border-collapse: separate; 
  border-spacing: 0; 
  } 
caption, th, td { 
  font-weight: normal; 
  text-align: left; 
  } 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after { 
  content: ""; 
  } 
blockquote, q { 
  quotes: "" ""; 
  } 



/* reset css finish  */



body{
    background: #f2f2f2;
}
.main{
    background: #fff;
    min-width: 980px;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    overflow: hidden;
}
.logo,slogan{
    float: left;
}
.logo{
    margin:8px 0 0 30px;
}
.slogan{
    margin: 40px 0 0 30px;
}
.head-contact{
    float:right;
    background: #f8fafb url(images/phone-img.jpg) 250px 8px no-repeat;
    border: 2px solid #edf2f6;
    border-radius: 0 0 10px 10px;
    margin:0px 6px 0 0;
    padding: 5px 65px 2px 5px;
    text-align: right;
    line-height: 1.3;
    
}
.head-contact p{
    font-size: 12px;
    font-family: Verdana;
}
.head-contact p b{
    font-size: 14px;
    font-weight: normal;
}
.head-contact p span{
    font-size: 21px;
    font-weight: bold;
}
.test{
    float: right;
}
.search-head{ 
    float:right;
    list-style: none;
    background: url(images/search-bg.jpg) no-repeat left top;
    width: 306px;
    height: 29px;
    margin:10px 6px 5px 0;
}

.search-head li{
    float: left;
}
#quickquery{
    border: none;
    margin:6px 23px 3px 10px;
    width: 210px;
    font-size: 12px;
}
.search-btn{
    margin:8px 0 0 5px;
}
.menu{
    background: url(images/menu-bg.jpg) top repeat-x;
    display: table-row;
    list-style: none;
    width: auto;
    text-align: center;
    height: 50px;
}
.menu li{
    display: table-cell;
    border-left: 1px solid #2b96cd;
    border-right: 1px solid #0c5985;
}
.menu li:first-child{
    border-left: none;
    
}
.menu li:last-child{
    border-right: none;
    
}
.menu li a{
    display: block;
    width: 1000px;
    height: 50px;
    vertical-align: middle;
    display: table-cell;
    font-family: Verdana;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.menu li:hover{
    border-left: 1px solid #004c78;
    border-right: 1px solid #004c78;
    background: #004c78;
}
#contentwrapper{
    background: white;
    float: left;
    width: 100%;
}
#content{
    
    margin: 0 245px 0 240px;
}
.main{
    overflow: hidden;
}
.main-bar{
    overflow: hidden;
}
.main-bar h1{
    text-align: center;
    margin:15px 0 20px 0;
}
.telephone{
    text-align: center;
    width: 50%;
   float: left;
    margin-bottom: 50px;
    
}
.telephone h2{
    font-family: Verdana;
    font-size: 14px;
    color: #5ab3e2;
    margin-bottom: 10px;
}

.telephone h2 a{
    color: #5ab3e2;
}
.telephone h2 a:hover{
    color: #5ab3e2;
    text-decoration: none;
    
}
.telephone p{
    font-size: 12px;
    font-family: Verdana;
    font-weight:bold;
    margin-bottom: 10px;
}

.telephone p span{
    font-size: 30px;
    font-family:Candara;
    font-weight: normal;
    
}
#left-bar{
 
    float: left;
    width: 240px;
    margin-left: -100%;
    
}
.left-bar-cont{
    background: #f7f7f7;
    margin:6px 0 0 6px;
}
.left-bar-cont h2{
    font-family:Verdana;
    font-size: 18px;
    color:#fff;
    font-weight: normal;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2db1d7+0,0071ac+100,7db9e8+100 */
background: #2db1d7; /* Old browsers */
background: -moz-linear-gradient(left, #2db1d7 0%, #0071ac 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2db1d7 0%,#0071ac 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2db1d7 0%,#0071ac 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db1d7', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    border-radius: 4px 4px 0 0;
    padding: 5px 0 5px 10px;
    
}
.nav-new{
    
    background: url(images/new.jpg) left center no-repeat;
    border-bottom: 1px solid #e1e1e1;
    
}
.nav-lider{
    
    background: url(images/leader.jpg) left center no-repeat;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #fff;
    
    
}
.nav-sale{
    
    background: url(images/sale.jpg) left center no-repeat;
    border-top: 1px solid #fff;
    
}
.nav-new,.nav-lider,.nav-sale{
    padding: 12px 0 12px 55px;
}
.nav-new a,.nav-lider a,.nav-sale a{
   color: #000;
    font: bold 14px Verdana;
    text-decoration: none;
    
}
.nav-new a:hover,.nav-lider a:hover,.nav-sale a:hover{
    text-decoration: underline;
    
}
.left-bar-cont h4{
    font-family:Verdana;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2db1d7+0,0071ac+100,7db9e8+100 */
background: #2db1d7; /* Old browsers */
background: -moz-linear-gradient(left, #2db1d7 0%, #0071ac 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2db1d7 0%,#0071ac 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2db1d7 0%,#0071ac 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db1d7', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    /*border-radius: 4px 4px 0 0;*/
    padding: 7px 0 7px 15px;
    
}
#right-bar{
    
    float: left;
    width: 245px;
    margin-left: -245px;
}
.right-bar-cont{
   
    margin:6px 6px 0 0;
}
.right-bar-cont h2{
       font-family:Verdana;
    font-size: 18px;
    color:#fff;
    font-weight: normal;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2db1d7+0,0071ac+100,7db9e8+100 */
background: #2db1d7; /* Old browsers */
background: -moz-linear-gradient(left, #2db1d7 0%, #0071ac 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2db1d7 0%,#0071ac 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2db1d7 0%,#0071ac 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db1d7', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    border-radius: 4px 4px 0 0;
    padding: 5px 0 5px 10px;
}
.enter{
    margin:0 0 10px 0;
}
.enter div{
    background: #f0f0f0;
    padding: 15px 0;

}
.enter div img{
    display: block;
    margin: auto;
}
.bascet{
    margin:0 0 10px 0;
}
.bascet div{
    background: #f0f0f0;
    padding: 15px 0;

}
.bascet div img{
    display: block;
    margin: auto;
}
.bascet div p{
    padding: 0 0 15px 20px;
    line-height: 1.9;
    font-size: 15px;
    font-family: Verdana;
}
.bascet div p span{
    color:#67a2c6;
}




.nav-catalog{
    padding: 10px 10px 20px 55px;
    list-style: url(images/ul.jpg);
   border-bottom: 1px solid #e1e1e1;
}

.nav-catalog li{
    margin: 0 0 5px 0;
    
}
.nav-catalog li a{
    font:14px Verdana;
    color: black;
    font-weight: bold;
    text-decoration:none;
    
}
.nav-catalog li a:hover{
    font:14px Verdana;
    color: #1b7cb1;
    font-weight: bold;
    text-decoration:none;
    
}
.nav-catalog ul li{
    margin: 0 0 0 0;
    
}
.nav-catalog ul{
    padding: 5px 0 0 20px;
    
}
.bar-contact{
     border-bottom: 1px solid #e1e1e1;
    padding: 15px 0 20px 15px;
    color:#000;
    font-family: Verdana, sans-serif; 
}
.bar-contact h3{
    font-size: 18px;
    font-weight: normal;
}
.bar-contact p{
    font-size: 14px;
    margin:15px 0 0 0;
}
.bar-contact p span{
    font-size: 18px;
    font-weight: bold;
}
.news
{
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0 20px 15px;
    font-family: Verdana, sans-serif; 
}
.news h3{
    font-size: 16px;
    font-weight: normal;
}
.news p{
    margin:15px 0 0 0;
}
.news p span{
   background:#e7e7e7;
    color: #7f7f7f;
    font-size: 10px;
    padding:1px 7px;
}
.news a{
    display: block;
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}
.news a:hover{
  text-decoration: none;
}
.news-arch{
    border: 1px solid #fff;
    padding: 10px 5px 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #666 0px 0px 7px;
    -moz-box-shadow: #666 0px 0px 7px;
    box-shadow: #eeeeee 0px 0px 7px;
    background: #eaeaea;
    behavior: url(/pie/PIE.htc);
    width: 105px;
    margin-top: 15px !important;
}
.money{
    padding:20px 0 20px 15px;
    font-family:Verdana;
    font-weight: normal;
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
}
.delivery{
    padding:20px 0 20px 15px;
    font-family:Verdana;
    font-weight: normal;
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
}
.info{
    padding:20px 0 20px 15px;
    font-family:Verdana;
    font-weight: normal;
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
}
.money h3{
    font-size: 16px;
    margin-bottom: 15px;
}
.delivery h3{
    font-size: 16px;
    margin-bottom: 15px;
}

.info h3{
    font-size:16px;
     margin-bottom: 15px;
}
.money p,.delivery p,.info p{
    color:#8b8b8b;
    margin-bottom: 10px;
    
}
.money a,.delivery a,.info a{
    color:#8b8b8b;
   
}
.money a:hover,.delivery a:hover,.info a:hover{
    color:#8b8b8b;
   text-decoration: none;
}
.search-bar{
    margin:0 0 10px 0;
}
.search-bar div{
    font-family: Verdana;
    font-style: 12px;
    padding: 10px 10px 25px 10px;
    background: #f0f0f0;
}
.search-bar div p{
    font-size: 14px;
    margin: 0 0 8px 0;
}
.search-bar div select{
    width: 200px; 
    font-size:14px;
    padding: 5px;
    font-family: Verdana;
}
.podbor-price{
    width: 60px;
    text-align: right;
    font-size: 12px;
    padding: 3px;
    border:1px solid #959b9e;
}
.podbor{
    display: block;
    width: 170px;
    margin: 20px auto 0 auto;
    
}
.clear{
    clear: both;
}
.footer{
    background: url(images/footer-bg.jpg) top repeat-x;
    height: 132px;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
        
}
.flogo{
    float: left;
    margin: 35px 0 0 20px;
    
}
.flogo p{
    margin: 10px  0 0 0;
    font:bold 14px Verdana;
}
.fphone{
    float: right; 
    text-align: right;
    font: 12px Verdana;
    margin: 15px 20px 0 0;
    
}

.fphone h2{
    font-size: 14px;
}
.fphone h1{
    font-size: 21px;
    margin-bottom: 25px;
}
.fmenu{
    font: 14px Verdana;
    overflow: hidden;
    margin: 15px auto 0 auto;
   width: 350px;
}
.fmenu p{
    text-align: center;
    
}
.fmenu ul{
    float: left;
    list-style: none;
    margin:20px 0 0 30px;
}
.fmenu ul li{
    margin: 0 0 5px 0;
}
