html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0; 
  } 
/* remember to define focus styles! */ 
:focus { 
  outline: 0; 
  } 
body { 
  background: white; 
  line-height: 1; 
  color: black; 
  } 
ol, ul { 
  list-style: none; 
  } 
/* tables still need cellspacing="0" in the markup */ 
table { 
  border-collapse: separate; 
  border-spacing: 0; 
  } 
caption, th, td { 
  font-weight: normal; 
  text-align: left; 
  } 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after { 
  content: ""; 
  } 
blockquote, q { 
  quotes: "" ""; 
  } 



/* reset css finish  */



body{
    background: #f2f2f2;
}
.main{
    background: #fff;
    min-width: 980px;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    overflow: hidden;
}
.logo,slogan{
    float: left;
}
.logo{
    margin:8px 0 0 30px;
}
.slogan{
    margin: 40px 0 0 30px;
}
.head-contact{
    float:right;
    background: #f8fafb url(images/phone-img.jpg) 250px 8px no-repeat;
    border: 2px solid #edf2f6;
    border-radius: 0 0 10px 10px;
    margin:0px 6px 0 0;
    padding: 5px 65px 5px 15px;
    text-align: right;
    line-height: 1.3;
    
}
.head-contact p{
    font-size: 12px;
    font-family: Verdana;
    margin-bottom: 3px;
}
.head-contact p b{
    font-size: 14px;
    font-weight: normal;
}
.head-contact p span{
    font-size: 21px;
    font-weight: bold;
}
.search-head{
    float: right;
}